$fontColor: rgb(223, 223, 250);
$purple: #7F76FF;
$itemColor: #221F36;
$turquise: #2BB8EE;

.signupContainer {
    color: $fontColor;
    height: 100dvh;
    user-select: none;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(22,19,43,1) 0%, rgba(32,31,69,1) 53%, rgba(22,18,44,1) 100%);
    form {
        position: relative;
        background-color: $itemColor;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 30px;
        padding: clamp(0.9375rem, 0.8036rem + 0.6696vw, 1.875rem);
        box-shadow: 0 0 3px $purple;
        width: clamp(19.375rem, 18.5714rem + 4.0179vw, 25rem);
        height: clamp(28.125rem, 27.6786rem + 2.2321vw, 31.25rem);
        .formHeader {
            display: flex;
            align-items: center;
            position: relative;
            width: 100%;
            margin-bottom: 20px;
            .backIcon {
                position: absolute;
                width: clamp(1.875rem, 1.8304rem + 0.2232vw, 2.1875rem);
                height: clamp(1.875rem, 1.8304rem + 0.2232vw, 2.1875rem);
                cursor: pointer;
                transition: transform 0.3s;
                &:hover {
                    transform: scale(1.2);
                }
            }
            .formHeadline {
                flex: 1;
                font-size: clamp(1.25rem, 1.0714rem + 0.8929vw, 2.5rem);
                font-weight: bold;
                text-align: center;
            }
        }
        label {
            display: flex;
            width: 100%; 
            gap: 10px;
            align-items: center;
            flex-wrap: wrap;
        }
        input {
            flex: 1;
            padding: 5px;
            width: 100%;
            box-sizing: border-box;
            background-color: transparent;
            border: none;
            border-bottom: 2px solid $purple;
            border-radius: 0;
            outline: none;
            color: $fontColor;
            font-size: clamp(1rem, 0.9643rem + 0.1786vw, 1.25rem);
            @media (max-width: 428px) {
                width: 100%;
                padding-top: 0;
            }
        }
        .errorContainer {
            height: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden; 
            .error {
                color: red;
                margin: 0;
                font-size: clamp(0.875rem, 0.8571rem + 0.0893vw, 1rem);
                text-align: center;
                animation: fadeIn 0.5s forwards;
            }
            .success {
                color: green;
                margin: 0;
                font-size: clamp(0.875rem, 0.8571rem + 0.0893vw, 1rem);
                text-align: center;
                animation: fadeIn 0.5s forwards;
            }
            @keyframes fadeIn {
                from {
                    opacity: 0;
                }
                to {
                    opacity: 1;
                }
            }
        }
        button {
            padding: 10px;
            background-color: $purple;
            color: $fontColor;
            border: none;
            border-radius: 30px;
            cursor: pointer;
            width: 100%;
            margin-right: auto; 
            font-size: clamp(1rem, 0.9643rem + 0.1786vw, 1.25rem);
            font-weight: bold;
        }
        .passwordContainer {
            position: relative;
            .passwordFieldContainer {
                display: flex;
                align-items: center;
                input {
                    padding-right: 30px;
                }
            }
            .eyeIcon {
                position: absolute;
                right: 10px;
                cursor: pointer;
                width: 20px;
                height: 20px;
            }
        }
    }
}
