@import '../../index.scss';

.notificationsContainer {
    position: absolute;
    top: 100px;
    right: 19px;
    background-color: $itemColor;
    box-shadow: 0 0 3px $purple;
    border-radius: 30px;
    z-index: 1000;
    max-height: 0;
    height: 0;
    overflow-y: auto;
    transition: max-height 0.5s ease, height 0.5s ease;
    width: clamp(18.875rem, 16.2143rem + 13.3036vw, 37.5rem);
    @media (max-width: 428px) {
        top: 60px;
        right: 9px;
        border-radius: 10px;
    }
    .notificationsContent {
        display: flex;
        flex-direction: column;
        gap: 10px;
        .formHeadline {
            font-size: clamp(1rem, 0.9196rem + 0.4018vw, 1.5625rem);
            font-weight: bold;
            text-align: center;
            color: $purple;
            padding-top: 20px;
            @media (max-width: 428px) {
                padding-top: 10px;
            }
        }
        .notificationItem {
            display: flex;
            gap: clamp(0.625rem, 0.5357rem + 0.4464vw, 1.25rem);
            align-items: center;
            font-size: clamp(0.875rem, 0.8214rem + 0.2679vw, 1.25rem);
            padding: 10px 20px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            @media (max-width: 428px) {
                padding: 5px 10px;
            }
            &:hover {
                background-color: $purple;
            }
            .profilePic {
                width: clamp(1.875rem, 1.6964rem + 0.8929vw, 3.125rem);
                height: clamp(1.875rem, 1.6964rem + 0.8929vw, 3.125rem);
                border: 1px solid $purple;
                border-radius: 50%;
                object-fit: cover;
            }
            .username {
                color: $turquise;
                font-weight: bold;
            }
        }
        .noNotifications {
            text-align: center;
            font-weight: bold;
        }
    } 
}

.open {
    max-height: 50vh;
    height: 50vh;
}
