@import '../../index.scss';

.inputContainer {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    .chatInput {
        width: 100%;
        padding: 10px 85px 10px 20px;
        border-radius: 25px;
        border: none;
        outline: none;
        background-color: #2d2d44;
        color: $fontColor;
        font-size: 16px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        resize: none; 
        overflow: hidden;
        &::placeholder {
            color: rgb(165, 163, 163);
        }
    }
    .inputButton {
        display: flex;
        align-items: center;
        .sendIcon, .smileyIcon {
            position: absolute;
            cursor: pointer;
            bottom: auto;
            width: 30px;
            background: $purple;
            border-radius: 50%;
            padding: 2px;
            transition: background-color 0.3s ease;
            &:hover {
                background-color: #665DFE;
            }
        }
        .sendIcon {
            right: 9px;
        }
        .smileyIcon {
            right: 50px;
        }
    }
}
