@import '../../index.scss';

.inputContainer {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    .chatInput {
        width: 100%;
        padding: 10px clamp(4.5rem, 4.3571rem + 0.7143vw, 5.5rem) 10px 20px;
        border-radius: 25px;
        border: none;
        outline: none;
        background-color: #2d2d44;
        color: $fontColor;
        font-size: 16px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        resize: none; 
        overflow: hidden;
        &::placeholder {
            color: rgb(165, 163, 163);
        }
        @media (max-width: 428px) { 
            border-radius: 10px;
        }
    }
    .inputButton {
        display: flex;
        align-items: center;
        .sendIcon, .smileyIcon {
            position: absolute;
            cursor: pointer;
            bottom: auto;
            width: clamp(1.5625rem, 1.5179rem + 0.2232vw, 1.875rem);
            background: $purple;
            border-radius: 50%;
            transition: background-color 0.3s ease;
            &:hover {
                background-color: #665DFE;
            }
        }
        .sendIcon {
            right: 9px;
            border: 2.4px solid $fontColor;
        }
        .smileyIcon {
            right: clamp(2.5rem, 2.4107rem + 0.4464vw, 3.125rem);
        }
    }
}
