.userList {
    border-right: 1px solid #ccc;
    padding: 10px;
    height: 100%;
    overflow-y: auto;
  }
  
.title {
    margin-top: 0;
    font-size: 1.2rem;
}

.list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.item {
    padding: 8px;
    cursor: pointer;
}

.item:hover {
    background-color: #e0e0e0;
}