@import '../../index.scss';

.chatContainer {
    background-color: $itemColor;
    padding: 0 0 10px 10px;
    border-radius: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 3px $purple;
    display: flex;
    flex-direction: column;
    flex-grow: 3;
    transition: flex-grow 0.3s ease-in-out, height 0.3 ease-in-out;
    position: relative;
    height: calc(100vh - 150px);
    @media (max-width: 428px) {
        margin-bottom: 10px;
        margin-top: 10px;
        border-radius: 10px;
        padding: 0 0 10px 0;
    }
    @media (max-width: 811px) {
        height: calc(100vh - 450px);
    }
    .emoji-hidden & {
        flex-grow: 1;
        height: calc(100vh - 150px);
    }
    .messageContainer {
        flex: 1;
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
        margin: 0px;
        padding: 0 20px;
        overflow-y: auto;
        overflow-x: hidden;
        background-color: $itemColor;
        border-radius: 30px;
        transition: margin-bottom 0.3s ease;
        @media (max-width: 428px) {
            padding: 0 12px;
            border-radius: 10px;
        }
        &::-webkit-scrollbar-track-piece:start {
            margin-top: 20px;
        }
        &::-webkit-scrollbar-track-piece:end {
            margin-bottom: 10px;
        }
        .message {
            max-width: clamp(11.5625rem, 1.7857rem + 48.8839vw, 80rem);
            word-wrap: break-word;
            padding: 10px 20px;
            border-radius: 25px;
            position: relative;
            font-size: 16px;
            display: inline-block;
            margin-bottom: 10px;
            &:before, &:after {
                content: "";
                position: absolute;
                bottom: 0;
                height: var(--triangle-height, 25px);
            }
            @media (max-width: 768px) {
                padding: 8px 15px;
                font-size: 14px;
            }
            @media (max-width:428px) {
                border-radius: 10px;
            }
        }
        .firstMessage {
            margin-top: 5px;
        }
        .send {
            align-self: flex-end;
            color: $fontColor;
            background-color: $purple;
            &:before {
                right: -7px;
                width: 20px;
                background-color: $purple;
                border-bottom-left-radius: 16px 14px;
            }
            &:after {
                right: -26px;
                width: 26px;
                background-color: $itemColor;
                border-bottom-left-radius: 10px;
            }
        }
        .receive {
            align-self: flex-start;
            background-color: $turquise;
            color: $itemColor;
            &:before {
                left: -7px;
                width: 20px;
                background-color: $turquise;
                border-bottom-right-radius: 16px 14px;
            }
            &:after {
                left: -26px;
                width: 26px;
                background-color: $itemColor;
                border-bottom-right-radius: 10px;
            }
        }
        .welcomeMessage {
            position: absolute;
            inset: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 50px;
            img {
                width: clamp(15.625rem, 13.3929rem + 11.1607vw, 31.25rem);
            }
            p {
                font-size: clamp(1.125rem, 1.0179rem + 0.5357vw, 1.875rem);
                text-align: center;
            }
        }
    }
    .inputContainer {
        position: absolute;
        bottom: 10px;
        right: 10px;
        left: 10px;
    }
}

.messageEnter {
    transform: translateY(20px);
}

.messageEnterActive {
    transform: translateY(0);
    transition: transform 0.5s ease;
}

.messageExit {
    transform: translateY(0);
}

.messageExitActive {
    transform: translateY(-20px);
    transition: transform 0.5s ease;
}




