@import '../../index.scss';

.avatarOptions {
    display: flex;
    flex-wrap: wrap;
    gap: clamp(0.625rem, 0.5357rem + 0.4464vw, 1.25rem);
    width: 100%;
    height: auto;
    justify-content: center;
    padding-top: 10px;
    box-sizing: border-box;
    .avatarOption {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
        border-radius: 50%;
        overflow: hidden;
        border: 1px solid transparent;
        &:hover {
            transform: scale(1.1);
            box-shadow: 0 0 8px $turquise;
            border: 1px solid $turquise;
        }
        img {
            border-radius: 50%;
            transition: transform 0.3s ease;
        }
    }
}