@import '../../index.scss';

.emojiContainer {
    background-color: $itemColor;
    display: flex;
    border-radius: 30px;
    margin-top: 20px;
    height: 100%;
    width: 100%;
    margin-bottom: 20px;
    box-shadow: 0 0 3px $purple;
    position: relative;
    overflow: hidden;
    .emojiComponent {
        position: absolute;
        width: 100% !important;
        height: 100% !important;
        background-color: transparent;
        border: none;
        h2 {
            background-color: $itemColor;
            color: $fontColor;
        }
    }
}
