@import '../../index.scss';

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    &.visible {
        opacity: 1;
        visibility: visible;
    }
    .myProfileContent {
        background: $itemColor;
        padding: 30px clamp(0.9375rem, 0.8929rem + 0.2232vw, 1.25rem);
        width: clamp(18.75rem, 14.2857rem + 22.3214vw, 50rem);
        height: auto;
        color: $fontColor;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-start-start-radius: 250px 120px;  /* oben links */
        border-start-end-radius: 50px 40px; /* oben rechts */
        border-end-start-radius: 40px 50px; /* unten links */
        border-end-end-radius: 200px 100px;  /* unten rechts */
        box-shadow: 0 0 3px $purple;
        overflow-y: auto;
        opacity: 0;
        transform: scale(0.9);
        transition: opacity 0.3s ease, transform 0.3s ease;
        overflow: hidden;
        &.visible {
            opacity: 1;
            transform: scale(1);
        }
        @media (max-width: 428px) {
            border-radius: 10px;
            max-height: 80vh; 
            padding: 20px;
        }
        .profileHeader {
            display: flex;
            align-items: center;
            position: relative;
            width: 100%;
            margin-bottom: 20px;
            .closeIcon, .editIcon {
                position: absolute;
                right: 10px;
                width: clamp(1.25rem, 1.2054rem + 0.2232vw, 1.5625rem);
                height: clamp(1.25rem, 1.2054rem + 0.2232vw, 1.5625rem);
                cursor: pointer;
                transition: transform 0.3s;
                &:hover {
                    transform: scale(1.2);
                }
                @media (max-width: 428px) {
                    right: 0;
                }
            }
            .editIcon {
                right: 40px;
                @media (max-width: 428px) {
                    right: 25px;
                }
            }
            .profileHeadline {
                flex: 1;
                font-size: clamp(1.25rem, 1.0714rem + 0.8929vw, 2.5rem);
                color: $purple;
                text-align: center;
                font-weight: bold;
            }
        }
        .profileInfo {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
            .profileImg {
                width: 120px;
                height: 120px;
                border-radius: 50%;
                border: 2px solid $purple; 
                margin-bottom: 15px;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                @media (max-width: 428px) {
                    width: clamp(5rem, -2.4074rem + 37.037vw, 7.5rem);
                    height: clamp(5rem, -2.4074rem + 37.037vw, 7.5rem);
                }
                .profileImage, .profileImageEdit {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 50%;
                }
                .defaultImage {
                    width: 100%;
                    height: 125%;
                    object-fit: cover;
                }
            }
            .profileImageEditContainer {
                position: relative;
                .profileImageEdit {
                    opacity: 0.5;
                    width: 120px;
                    height: 120px;
                    border-radius: 50%;
                    @media (max-width: 428px) {
                        width: clamp(5rem, -2.4074rem + 37.037vw, 7.5rem);
                        height: clamp(5rem, -2.4074rem + 37.037vw, 7.5rem);
                    }
                }
                .uploadImage {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 50px;
                    height: auto;
                    cursor: pointer;
                    transition: transform 0.3s ease;
                    &:hover {
                        transform: translate(-50%, -50%) scale(1.2);
                    }
                    @media (max-width: 428px) {
                        width: 30px;
                    }
                }
            }
            .profileName {
                font-size: 18px;
                font-weight: bold;
            }
            .profileStatus {
                font-size: 14px;
            }
            .dropdownMenu {
                position: absolute;
                background: $itemColor;
                border: 1px solid $purple;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
                width: 150px;
                border-radius: 10px;
                overflow: hidden;
                overflow-y: auto;
                text-align: center;

                opacity: 0;
                visibility: hidden;
                transition: opacity 0.3s ease, visibility 0.3s ease;
                &.visible {
                    opacity: 1;
                    visibility: visible;
                }
                @media (max-width: 428px) {
                    width: 80%;
                }
                .dropdownItem {
                    padding: 10px;
                    cursor: pointer;
                    transition: background 0.3s ease;
                    &:hover {
                        background: $purple;
                    }
                    @media (max-width: 428px) {
                        padding: 5px;
                    }
                }
            }
            .avatarSelectorContainer {
                position: absolute;
                inset: 0;
                background-color: $itemColor;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                padding: clamp(0rem, -0.2679rem + 1.3393vw, 1.875rem);
                opacity: 0;
                visibility: hidden;
                transition: opacity 0.3s ease, visibility 0.3s ease;
                &.visible {
                    opacity: 1;
                    visibility: visible;
                }
            }
            .backIcon {
                position: absolute;
                top: 20px;
                width: clamp(1.875rem, 1.7857rem + 0.4464vw, 2.5rem);
                height: clamp(1.875rem, 1.7857rem + 0.4464vw, 2.5rem);
                cursor: pointer;
                transition: transform 0.3s;
                &:hover {
                    transform: scale(1.2);
                }
                @media (max-width: 592px) {
                    top: 5px;
                }
            }
        }
        .contactContainer {
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: flex-start;
            width: 100%;
            .contactInfo {
                display: flex;
                align-items: center;
                width: 100%;
                gap: 20px;
                img {
                    width: 20px;
                    height: 20px;
                }  
            }
        } 
        input {
            padding: 5px;
            padding-bottom: 2px;
            box-sizing: border-box;
            background-color: transparent;
            border: none;
            border-bottom: 2px solid $purple;
            border-radius: 0;
            outline: none;
            color: $fontColor;
            font-size: clamp(1rem, 0.9643rem + 0.1786vw, 1.25rem);
            @media (max-width: 428px) {
                width: 100%;
                padding-top: 0;
            }
        }
        .usernameInput {
            @media (max-width: 428px) {
                width: auto;
            }
        }
    }
}