$fontColor: rgb(223, 223, 250);
$purple: #7F76FF;
$itemColor: #221F36;
$turquise: #2BB8EE;

body {
    background: linear-gradient(90deg, rgba(22,19,43,1) 0%, rgba(32,31,69,1) 53%, rgba(22,18,44,1) 100%);
    color: $fontColor;
    height: 100dvh;
    user-select: none;
    overflow: hidden;
}

.fade-enter {
    opacity: 0;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
    transition: opacity 300ms;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: $purple;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 5px;
}

@media (max-width: 428px) {
    ::-webkit-scrollbar {
        width: 2px;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: $fontColor;
}

