$fontColor: rgb(223, 223, 250);
$purple: #7F76FF;
$itemColor: #221F36;
$turquise: #2BB8EE;

body {
    background: linear-gradient(90deg, rgba(22,19,43,1) 0%, rgba(32,31,69,1) 53%, rgba(22,18,44,1) 100%);
    color: $fontColor;
    height: 100dvh;
    user-select: none;
    overflow: hidden;
}

.fade-enter {
    opacity: 0;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
    transition: opacity 300ms;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: $purple;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 5px;
}

@media (max-width: 428px) {
    ::-webkit-scrollbar {
        width: 2px;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: $fontColor;
}

.react-datepicker {
    background-color: $itemColor !important;
    color: $fontColor !important;
    border: none !important;
    box-shadow: 0 0 3px $purple !important;
    font-size: 16px !important;
    width: 100% !important;
    height: 100% !important;
    border-radius: 18px !important;
}

.react-datepicker__header {
    background-color: transparent !important;
    color: $fontColor !important;
    font-size: 16px !important;
    border-bottom: 1px solid rgba(127, 118, 255, 0.6) !important;
    padding-top: 10px !important;
    border-top-left-radius: 18px !important;
    border-top-right-radius: 18px !important;
    overflow: hidden !important;
}

.react-datepicker__navigation--next {
    right: 5px !important;
    top: 7px !important;
}

.react-datepicker__navigation-icon--previous::before {
    top: 12px !important;
    right: -11px !important;
}

.react-datepicker__current-month {
    color: $fontColor !important;
    font-size: 18px !important;
}

.react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name {
    background-color: transparent !important;
    color: $fontColor !important;
    width: clamp(1.8125rem, 1.6295rem + 0.9152vw, 3.09375rem) !important;
    line-height: clamp(1.8125rem, 1.5938rem + 1.0938vw, 3.34375rem) !important;
}

.react-datepicker__month, .react-datepicker__day  {
    background-color: transparent !important;
    color: $fontColor !important;
}

.react-datepicker__day:hover,
.react-datepicker__day--selected,
.react-datepicker__day--today {
    background-color: $purple !important;
    color: $fontColor !important;
}

.react-datepicker__day--disabled {
    color: #d3d3d3;
    pointer-events: none;
    opacity: 0.3;
}

